* {
    padding : 0;
    margin : 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    font-family: 'Open Sans',sans-serif;
}

h1,h2 {
    font-family: 'Raleway',sans-serif;
    font-weight: 700;
}

header {
    display: flex;
    justify-content: space-between;
    padding : 30px;
    align-items: center;
}

header > img {
    width : 100px;
}

header > div > ul {
    display: flex;
    list-style: none;
    gap : 10px;
}

header > div > ul > li > a {
    text-decoration: none;
    color : hsl(243, 87%, 12%);
}

.heroContainer {
    padding : 30px;
    margin-top: 30px;
}

.heroRight {
    min-width: 300px;
}

.heroRight > img {
    width :100%;
    margin-bottom: 20px;
}

.heroLeft > h1 {
    color :hsl(243, 87%, 12%);
    margin-bottom: 20px;
}

.heroLeft > p {
    color: hsl(243, 87%, 12%);
}

.formContainer {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.formContainer > input {
    padding : 10px;
    border : 1px solid hsl(243, 87%, 12%);
    border-radius: 5px;
    margin-bottom: 20px;
}

 button {
    background-color: hsl(224, 93%, 58%);
    border: none;
    padding : 10px;
    border-radius: 5px;
    color : #fff;
    font-family: 'Raleway',sans-serif;
    font-weight: 700;
    transition: 0.3s ease-in-out;
}

button:hover {
    opacity: 0.7;
    cursor: pointer;
}

.middle {
    margin-top: 50px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: top;
}

.middle > img {
    position: relative;
    top : 1em;
}

.middle > div {
    background-color: hsl(240, 75%, 98%);
    padding : 30px;
}

.middleRight {
    min-width: 300px;
}

.middleRight > img {
    width : 100%;
    margin-bottom: 50px;
}


.middleLeft > h2 {
    font-size: 18px;
    color : hsl(243, 87%, 12%);
    margin-bottom: 30px;
}

.middleLeft > p {
    text-align: left;
    margin-bottom: 10px;
    color : hsl(170, 45%, 43%);
}

.middleLeft > a {
    margin-top: 20px;
    text-decoration: none;
    border-bottom: 1px solid #000;
    color :hsl(170, 45%, 43%);
}

.card {
    margin-block: 30px 50px;
    text-align: left;
    background-color: #fff;
    padding : 30px;
    border-radius: 5px;
    box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.4);
}

.card > p {
    font-size: 14px;
    color: hsl(243, 87%, 12%);
}

.profile {
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.profile > img {
    width : 30px;
    border-radius: 50px;
}

.name > p {
    font-size: 14px;
}

.name > p:first-child {
    font-weight: 700;
    color: hsl(243, 87%, 12%);
}

.name > p:last-child {
    color: hsl(170, 45%, 43%);
}

.early {
    background-color: hsl(238, 22%, 44%);
    padding : 30px;
}

.leftSection > h3 {
    color : #fff;
    margin-bottom: 20px;
}

.leftSection > p {
    color : #fff;
    margin-bottom: 20px;
}

.formEarly {
    display: flex;
    flex-direction: column;
    width : 80%;
    margin: 0 auto;
}

.formEarly > input {
    padding : 10px;
    border : none;
    border-radius: 5px;
    margin-bottom: 20px;
}

footer {
    background-color: hsl(243, 87%, 12%);
    padding : 50px;
    text-align: left;
    display: flex;
    flex-direction: column;
}

.information {
    display: flex;
    align-items: center;
    gap : 20px;
    color : #fff;
    margin-block: 30px 20px;
}

.links {
    margin-bottom: 30px;
}

.links > ul {
    list-style: none;
}

.links > ul > li {
    margin-bottom: 10px;
}

.links > ul > li > a {
    color : #fff;
    text-decoration: none;
}

.links > ul > li > a:hover {
    color : hsl(224, 93%, 58%);
}

.socialMediaContainer {
    margin: 0 auto;
    display: flex;
    gap : 10px;
}

ion-icon {
    color : #fff;
    font-size: 20px;
    border: 1px solid #fff;
    border-radius: 50px;
    padding : 8px;
}


@media screen and (min-width : 1200px) {
    header {
        padding : 70px;
    }

    header > img {
        width : 150px;
    }

    header > div > ul {
        gap : 30px;
    }

    .heroContainer {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }

    .heroLeft {
        text-align: left;
        padding : 50px;
    }

    .formContainer {
        flex-direction: row;
        align-items: center;
    }

    .formContainer > input {
        margin-bottom: 0;
        width : 70%;
    }

    .formContainer > button {
        width : 30%;
        margin-left: 20px;
    }

    .middle > div {
        display: flex;
        flex-direction: row-reverse;
    }

    .middleLeft {
        text-align: left;
        padding : 50px;
    }

    .card {
        width : 350px;
    }

    .middle > img {
        position: relative;
        top : 2em;
        width : 80em;
    }

    .early {
        display: flex;
        align-items: center;
        padding : 80px;
    }

    .leftSection {
        text-align: left;
        padding-right: 100px;
    }

    .formEarly > button {
        width : 40%;
    }

    .formEarly > input {
        margin-bottom: 10px;
    }

    footer {
        padding : 80px;
    }

    footer > img {
        width : 200px;
        margin-bottom: 20px;
    }

    .information {
        margin-block : 0 20px;
    }
    
    .socialMediaContainer {
        margin: unset;
    }

   footer > div {
       display: flex;
       justify-content: space-between;
       align-items: flex-start;
   }
   
}

